<% if @user.admin %>
  <h2 class="admin">This user has access to administrative privileges</h2>
<% end %>

<p>
  <strong>Name:</strong>
  <%= @user.get_styled_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
