<% content_for :title, "Welcome to your new plant monitor web server" %>
<h1>Welcome to your new plant monitor web server</h1>
<h2 class="admin">No administrator account has been found</h2>
<p>An administrator account is required to access advanced features of the plant monitor application.</p>
<p><%= link_to "Click here", signup_path %> to sign up with an administrator account.</p>