<h1>Leaderboard</h1>
<p>Compare your score to other plant owners using our plant monitor. Who's the top plant owner? Let's see...</p>
<table>
    <tbody>
    <% rank = 1 %>
    <tr>
        <th>Rank</th>
        <th>User Name</th>
        <th>Points</th>
    </tr>
    <% User.order(points: :desc).each do |user| %>
        <tr>
            <td>#<%=rank%></td>
            <td><%= user.get_styled_name %></td>
            <td><%= user.points %></td>
            <%rank+=1%>
        </tr>
    <% end %>
    </tbody>
</table>
