
<%# USING ENDPOINT @ https://openweathermap.org/ %>

var settings = {
  "async": true,
  "crossDomain": true,
  "url": "http://api.openweathermap.org/data/2.5/weather?q=melbourne,au&APPID=9b732f988a82cb5ec7499a0d0e6416ff&units=metric ",
  "method": "GET",
  "headers": {
    "x-rapidapi-host": "community-open-weather-map.p.rapidapi.com",
    "x-rapidapi-key": "9b732f988a82cb5ec7499a0d0e6416ff"
  }
}



$.ajax(settings).done(function (response) {
  console.log(response);
  document.getElementById("Weather-temperature").setInnerHTML(<h1>response.[3].temp</h1>);
  document.getElementById("Weather-image").setInnerHTML(<h1>response.[1].icon</h1>);
  document.getElementById("Max-temp").setInnerHTML(<h1>response.[3].temp_max</h1>);
  document.getElementById("Min-temp").setInnerHTML(<h1>response.[3].temp_min</h1>);
  //document.getElementById("Chance-rain")setInnerHTML(<h1>response.[3].temp</h1>);
});
<%# http://api.openweathermap.org/data/2.5/weather?q=melbourne,au&APPID=9b732f988a82cb5ec7499a0d0e6416ff %>