/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html {
     background-color: #a3bd6b;
     padding-left: 8px;
     padding-right: 8px;
 }

 body {
     background-color: antiquewhite;
     margin:revert;
     margin-left: auto;
     margin-right: auto;
     max-width: 1198px;
     text-align: center;
     border: 1px dashed indianred;
     padding: 1px;
 }

 header {
     background-color: indianred;
     display: flow-root;
 }

 header a {
     color:antiquewhite;
     text-decoration: none;
 }

 header a:visited {
     color: antiquewhite;
 }

 header a:hover {
     text-decoration: underline;
     background: inherit;
 }

 nav {
     margin-top: 1px;
     border-top: 1px dashed indianred;
     border-bottom: 1px dashed indianred;
     padding-bottom: 2px;
 }

 table {
     margin-left:auto;
     margin-right:auto;
 }

 table, td, th {
     border: 1px dashed indianred;
 }

 form {
     margin-left: auto;
     margin-right: auto;
     display: table;
 }

 .logged-in-notice {
     border-bottom: 1px dashed indianred;
     padding-bottom: 2px;
 }

 .alert {
     margin-top: 18px;
     border:2px solid;
     margin-left: auto;
     margin-right: auto;
     padding:8px;
     font-weight: bold;
     border-radius:2px;
     font-size: 1.2em;
     display:ruby-base !important;
 }

 .alert-success {
     color:green;
     background-color: lightgreen;
 }

 .alert-danger {
     color:maroon;
     background-color: salmon;
 }

 .field_with_errors {
     margin-left: auto;
     margin-right: auto;
 }