/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

   
html {
  background-color: lightskyblue;
  padding-left: 8px;
  padding-right: 8px;
}

body {
  background-color: #276ba6;
  color:#fff6ea;
  margin: revert;
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
  text-align: center;
  border: 1px solid black;
  padding: 1px;
  padding-bottom:21px;
  border-radius: 0.5em;
}

body, select, input {
  font-family: bahnschrift, vedana, arial, helvetica, sans-serif;
}

select, input {
  background-color: lightcyan;
  color: black;
  border:1px solid;
  border-radius: 3px;
  text-align: center;
}

header {
  background-color: #276ba6;
  display: flow-root;
  border-radius: 0.5em 0.5em 0em 0em;
}


a, button, input[type="submit"] {
  color: black;
  padding: 0.3em;
  background-color: lavender;
  border-radius: 0.3em;
  border:none;
  text-decoration:underline;
  border:1px solid;
}

a:hover, button:hover, input[type="submit"]:hover {
  color: #fff;
  background-color: #000;
  cursor: pointer;
}

header a {
  color: black;
  text-decoration: none;
  background: none;
  border:none;
}


header a:visited {
  color: antiquewhite;
}

header a:hover {
  text-decoration: underline;
  background: inherit;
}

nav {
  margin-top: 1px;
  border: 1px solid black;
  padding-top: 20px;
  padding-bottom: 2px;
  display: inline-block;
  width: calc(100% - 8px);
  background-color: lightcyan;
  border-radius: 0.25em;
}

nav a{
    padding: 0.7em;
    background-color: #276ba6;
    color: white;
}
nav a:visited{
    color: white;

}
.title-link{
    background-color: none;

}

hr {
  border: none;
  border-top: 1px dashed #fff6ea;
}

.hide {
  display: none;
}

.wrapper {
  text-align: center;
}

.table-holder {
  display:inline-block;
  max-width:calc(100% - 32px);
  overflow-x:auto;
  border:2px inset #276ba6;
  border-right-color: #74b2e9;
  border-bottom-color: #74b2e9;
}

table {
  margin-left: auto;
  margin-right: auto;
  table-layout: fixed;
  max-width: 100%;
  white-space: nowrap;
}

table,
td,
th {
  border: 1px dashed #fff6ea;
}

td,
th {
  padding:5px;
  padding-top:8px;
  padding-bottom: 6px;
}

form {
  margin-left: auto;
  margin-right: auto;
  display: table;
}

.clear-floats {
  clear: both;
}

a.admin {
  color:chocolate;
  background:antiquewhite;
}

a.admin:hover {
  background:chocolate;
  color:antiquewhite;
}

.admin {
  font-weight: bold;
  color: gold;
}

.alert-success .admin {
  color:orangered;
}

.logged-in-notice {
  border-bottom: 1px dashed #fff6ea;
  padding-bottom: 2px;
}

.dashboard-plant-info {
  margin-bottom:1em;
}

.alert {
  margin-top: 18px;
  border: 2px solid;
  margin-left: auto;
  margin-right: auto;
  padding: 8px;
  font-weight: bold;
  border-radius: 2px;
  font-size: 1.2em;
  display: ruby-base !important;
}

.alert-notice {
  color: darkslateblue;
  background-color: lightskyblue;
}

.alert-success {
  color: green;
  background-color: lightgreen;
}

.alert-danger {
  color: maroon;
  background-color: salmon;
}

.field_with_errors {
  margin-left: auto;
  margin-right: auto;
}

.date-box {
  border: 1px solid black;
  color:black;
  display: inline-block;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top:4px;
  vertical-align: top;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
}
.title-link {
  float: left;
  width: 20%;
  text-align: left;
}
.title-link img {
  max-width: 100%;
  padding-left:10px;
}
.user-info {
  display: block;
  float: right;
  max-width: 20%;
  margin-top: -15px;
  margin-bottom: 5px;
}
.user-info a {
  padding:4px;
  margin:0.4em;
  white-space: nowrap;
  line-height:2.2em;
}
.name-and-date {
  padding: 2px;
}
.name-and-title {
  text-align: center;
  display: inline;
}
.name-and-title p {
  margin: 0;
}
.name-and-title a{
  background:none;
  margin:0;
  padding:0;
}
.nav-links {
  width: 60%;
  float: left;
}
.nav-links a {
  margin: 8px;
  white-space: nowrap;
  line-height: 40px;
}
.checklist {
  width:25%;
  padding-right:10px;
  float:right;
}
.checklist form {
  width: 100%;
}

#Weather-image {
  background: dodgerblue;
  display: table;
  margin-left: auto;
  margin-right: auto;
  margin-top:4px;
  margin-bottom:4px;
  border: 4px outset #dd643f;
  border-top-color: #ecd9a9;
  border-left-color: #ecd9a9;
}

#Weather-image img {
  display: block;
  border: 2px inset #dd643f;
  border-bottom-color: #ecd9a9;
  border-right-color: #ecd9a9;
}


.center-dashboard {
  float:left;
  width:calc(50% - 20px);
}


#plant-checklist {
  text-align: center;
}
.check-content {
  display: inline-block;
}



#weather-Dashboard{
  text-align:center;
  width:25%;
  padding-left:10px;
  float:left;
}

.inline-wrapper{
  display: block;
}
.weather-sum{
  display: inline;
}
#Max-temp, #Min-temp, #Weather-Dashboard{
  display:inline;
}

.gravatar {
  height: 45px;
  width: auto;
}

.location_field a {
  display:block;
  width:158px;
  border-radius: 0;
}