<header><h1><%= link_to "Plant Monitor", root_path %></h1></header>
<nav><%= link_to "Users", users_path %></nav>
<% if logged_in? %>
    <div class="logged-in-notice">You are logged in as <%= link_to current_user.name, current_user %>. <%= link_to "Log out", logout_path, method: :delete %></div>
<% end %>